//#k{
//  position: absolute;
//}
//.title{
//  #k;
//  top:50%;
//  left: 50%;
//  transform: translate(-50%,-50%);
//}
//
//
//.mixin(){
//  color:red;
//  text-transform: lowercase;
//  top: 60%;
//  left: 80%;
//  transform: translate(-76%,-50%);
//}
//
//.my-hover-mixin() {
//  &:hover {
//    &:before{
//      width: 100%;
//    }
//  }
//}
//ul li a{
//   .my-hover-mixin();
//}
//
//
//
//.cont(@count) when (@count > 0) {
//  .cont((@count - 1));
//  width: (25px * @count);
//}
//
//div {
//  .cont(7);
//}