body{
    margin: 0;
    padding: 0;
    font-family: AppleGothic;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bookshelf.jpeg) ;
    background-attachment: fixed;
    display: fixed;
}
.map{
    position: absolute;
    top:40;
    left:80;
}
header{
    
    height: 960px;
    background-size: cover;
    background-position: center ;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    padding: 0;
    width: 100%;
    height: 80px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    color:wheat;
    text-decoration: none;
    position: relative;
    padding: 5px 20px;
    transition: 0.6s ease;
    font-weight: 600;
}
ul li a::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: wheat;
    transition:0.2s;
}
ul li a:hover:before{
    width: 100%;
}

.title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title-heading h1{
    color: #fff;
    font-size: 200px;
}
.title-heading p{
    text-transform: lowercase;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-family:'Poppins',sans-serif;
    color: black;
    text-decoration-color: black;
}
#id{
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(-76%,-50%);
}
/*footer{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bookshelf.jpeg) ;
    height: 960px;
    background-size: cover;
    background-position: center ;
}*/




/*div {*/
/*    width: 25px;*/
/*    width: 50px;*/
/*    width: 75px;*/
/*    width: 100px;*/
/*    width: 125px;*/
/*    width: 150px;*/
/*    width: 175px;*/
/*}*/

